#Prevents leaking credentials by not sharing the following datas online

# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment Variables
.env
.env.*

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store

# LibreOffice / DrawIO
*.odt
.~lock*

# Testing
.pytest_cache/
.coverage

#docker
backend/Dockerfile
backend/entrypoint.sh
backend/docker-compose.yml