
# ===============================
# FASTAPI FRAMEWORK
# ===============================

fastapi==0.110.0          # Web framework for building APIs
uvicorn==0.29.0          # ASGI server to run FastAPI


# ===============================
# DATABASE
# ===============================

sqlalchemy==2.0.29       # ORM for database interaction
psycopg2-binary==2.9.9 # PostgreSQL driver


# ===============================
# ENVIRONMENT CONFIGURATION
# ===============================

python-dotenv==1.0.1   # Load .env variables


# ===============================
# DATA VALIDATION
# ===============================

pydantic==2.7.1        # Request and response validation

starlette